* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    max-width: 700px;
}

@media screen and (min-width: 0) {
    :root {
        --heading-padding: 25px 25px 10px 25px;
        --reminder-padding: 0px 25px 0px 25px;
        --footer-padding: 10px 25px 25px 25px;
    }
}
@media screen and (min-width: 576px) {
    :root {
        --heading-padding: 25px 25px 10px 25px;
        --reminder-padding: 0px 25px 0px 25px;
        --footer-padding: 10px 25px 25px 25px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --heading-padding: 35px 35px 15px 35px;
        --reminder-padding: 0px 35px 0px 35px;
        --footer-padding: 15px 35px 35px 35px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --heading-padding: 50px 50px 20px 50px;
        --reminder-padding: 0px 50px 0px 50px;
        --footer-padding: 20px 50px 50px 50px;
    }
}

body {
    height: 100vh;
}

input {
    color: white;
}
.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: black;
}

.heading-container {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--heading-padding);
    color: orange;
    background-color: black;
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reminders-container {
    color: white;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: var(--reminder-padding);
    margin-bottom: 10px;
    max-height: 70vh;
    overflow-y: auto;
}

.notification-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(60, 50, 50, 1);
}

.new-reminder-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(60, 50, 50, 1);
}

.reminder-circle {
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 24px;
    border: 1px solid rgba(60, 50, 50, 1);
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    border: none;
}

.reminder-left {
    display: flex;
    align-items: center;
}

.reminder-time-black {
    color: rgb(103, 103, 103);
}

.reminder-time-orange {
    color: rgb(255, 165, 0);
}

.footing-container {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--footer-padding);
    color: orange;
    position: sticky;
    width: 99vw;
}

.add-button-container {
    display: flex;
    align-items: center;
}

.add-btn {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: orange;
    cursor: pointer;
    margin-right: 10px;
    border-color: transparent;
    color:black;
    padding: 0;
    display: inline-block;
    line-height: 5px;
    text-align: center;
}

#new-reminder-text {
    font-size: 1.3em;
}

#plus-sign {
    background-color: transparent;
    text-align: center;
    height: auto;
}

.text-hover {
    cursor: pointer;
}

.save-btn {
    height: 25px;
    width: 80px;
    border-radius: 12px;
    background-color: orange;
    font-family: sans-serif;
    border: transparent;
    cursor: pointer;
}

#save {
    background-color: transparent;
    color: black;
}

.reminder-text {
    display: flex;
    flex-direction: column;
    color: white;
}
.new-time-date {
    display: flex;
    height: auto;
    max-width: 500px;
    margin-top: 3px;
}

.event-input {
    height: 24px;
    padding: 0;
    max-width: 500px;
    border: transparent;
    font-size: 1.5em;
    font-family: sans-serif;
}

.event-input:focus {
    outline-width: 0;
}
.input-field {
    width: 22px;
    border: transparent;
    font-size: 1.17em;
    font-family: sans-serif;
}

.input-field:focus {
    outline-width: 0;
}

#underscore {
    color: black;
}

#new-reminder-month {
    text-align: right;
}

#new-reminder-day {
    text-align: center;
}

#new-reminder-hour {
    text-align: right;
}

#new-reminder-minute {
    text-align: center;
}

.meridiem-btn {
    font-family: sans-serif;
    height: 24px;
    width: 40px;
    background-color: orange;
    border: transparent;
    cursor: pointer;
    margin-left: 1px;
    border-radius: 5px;
    text-align: center;
}

#meridiem-text {
    background-color: transparent;
}
.meridiem-btn:focus {
    outline-width: 0;
}